.gitignore
.idea/
OpDefine.iml

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject
instance/
.webassets-cache
target/
test/
__pycache__/
analyzd/
utils/
config.yaml